[submodule "task-mngr-backend"]
	path = task-mngr-backend
	url = https://github.com/okazakee/task-mngr-backend.git
[submodule "task-mngr-frontend"]
	path = task-mngr-frontend
	url = https://github.com/okazakee/task-mngr-frontend.git
